@use 'base/variables' as v;
@use 'base/mixins' as m;


.formulario {
    margin-top: 2.4rem;
    .campo {
        display: flex;
        flex-direction: column;
        
        label {

        }
    
        input {
            width: 100%;
            padding: 1rem;
            border: none;
            background-color: lighten(v.$gris, 40%);
        }

        input:nth-of-type(1) {
            margin-bottom: 2rem;
        }
    }
}
