@use 'base/variables' as v;
@use 'base/mixins' as m;

.no-proyectos {
    a {
        color: v.$indigo;
    }
}

.listado-proyectos {
    list-style: none;
    padding: 0;
    margin-top: 3rem;
    @include m.grid(1, 2rem);
    @include m.tablet {
        @include m.grid(2, 2rem);
    }
    @include m.desktop {
        @include m.grid(3, 2rem);
    }

    .proyecto {
        background-color: v.$grisClaro;
        min-height: 12rem;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 2rem;
        line-height: 2;
        border-radius: 1rem;
        border: solid 1px lighten(v.$grisOscuro, 55%);
        box-shadow: .1rem .1rem .3rem lighten(v.$grisOscuro, 50%);
        transition: all .5s ease-in-out;
        cursor: pointer;

        &:hover {
            border: solid 1px lighten(v.$grisOscuro, 40%);
            box-shadow: .1rem .1rem .4rem lighten(v.$grisOscuro, 50%);
            transition: all .5s ease-in-out;
        }

        a {
            font-size: 2.2rem;
            text-align: left;
            color: v.$negro;
            font-weight: bold;
        }

        .btn-acciones  {
            display: flex;
            flex-direction: row-reverse;
            gap: 1rem;

            .btn {
                border-radius: .6rem;
                background-color: transparent;
                padding: .5rem 1rem;
            }

            .eliminar-proyecto {
                color: #db3c30;
                border: solid 1px #db3c30;
                transition: all .5s ease-in-out;

                &:hover {
                    background-color: #d1625a;
                    border: solid 1px #d1625a;
                    color: v.$blanco;
                    transition: all .5s;
                    cursor: pointer;
                }
            }

            .editar-proyecto {
                border: solid 1px lighten(v.$grisOscuro, 55%);
                transition: all .5s ease-in-out;
                &:hover {
                    background-color: darken(v.$grisClaro, 3%);
                    transition: all .5s ease-in-out;
                    cursor: pointer;
                }
            }
        }

    }
}