@use 'base/mixins' as m;
@use 'base/variables' as v;

@media (prefers-color-scheme: dark) {
    $grisOscuro: #2c2c3b;
    body {
        background-color: $grisOscuro;
    }

    .tagline,
    .formulario label,
    .login .acciones a,
    .crear .acciones a,
    .olvide .acciones a {
        color: v.$blanco;
    }
    .descripcion-pagina,
    .formulario .campo input,
    .nombre-pagina,
    .dashboard .enlace {
        color: darken(v.$grisClaro, 15%);
    }

    .formulario .campo input {
        background-color: lighten($grisOscuro, 15%);
        &::placeholder {
                color: darken(v.$grisClaro, 20%);
            }
    }

    .sidebar {
        @include m.tablet {
                background-color: darken($grisOscuro, 5%);
        }
        .sidebar-nav a {
            &.activo,
            &:hover {
                background-color: v.$naranja;
            }
        }
    }

    .barra,
    .barra-mobile {
        background-color: darken($grisOscuro, 7%);
    }

    .barra {
        p {
            color: v.$grisClaro;
            span {
                color: v.$naranja;
            }
        }     

        .cerrar-sesion {
            @include m.boton(v.$naranja, v.$blanco);
            font-size: 1.2rem;
            padding: 1rem;
            border-radius: .5rem;
            @include m.tablet() {
                width: auto;
            }
        }
    }

    .filtros {
        background-color: lighten($grisOscuro, 15%);
        h2,
        label {
            color: v.$blanco;
        }
        input[type="radio"] {
            accent-color: v.$naranja;
        }
    }

    .dashboard {
        background-color:$grisOscuro;

        .enlace {
            color: v.$grisClaro;
            &:hover {
                color: darken(v.$grisClaro, 20%);
            }
        }

        .formulario input:not([type=submit]) {
            color: v.$blanco;
            &::placeholder {
                color: darken(v.$grisClaro, 20%);
            }
        }
    }

    .listado-proyectos .proyecto {
        background-color: lighten($grisOscuro, 10%);
        box-shadow: none;
        border: solid 1px lighten(v.$grisOscuro, 10%);
        &:hover {
            background-color: lighten($grisOscuro, 5%);
            border: solid 1px lighten(v.$grisOscuro, 4%);
            box-shadow: none;
        }

        a{
            color: v.$blanco;
        }

        .btn-acciones {
            .editar-proyecto {
                    color: v.$grisClaro;
                    border: solid 1px lighten(v.$grisOscuro, 10%);
    
                    &:hover {
                        background-color: lighten($grisOscuro, 5%);
                        border: solid 1px v.$naranja;
                        color: v.$naranja;
                        transition: all .5s ease-in-out;
                        cursor: pointer;
                    }
            }
        }
    }

    .listado-tareas .tarea {
        background-color: lighten($grisOscuro, 10%);
        border: none;
        p {
            color: v.$grisClaro;
        }
    }

    .modal .formulario {
        background-color: $grisOscuro;
        legend {
            color: v.$grisClaro;
        }
        input[type="text"] {
            color: v.$blanco;
            &::placeholder {
                color: darken(v.$grisClaro, 20%);
            }
        }
    }
}
