@use 'variables' as v;
@use 'mixins' as m;

.boton-centrado {
    display: flex;
    justify-content: center; // Centra el botón si es más pequeño
    width: 100%;
    .boton {
        margin: 1.2rem 0;
    }
}