@use 'base/variables' as v;
@use 'base/mixins' as m;

.dashboard {
    background-color: v.$grisClaro;

    @include m.tablet {
        display: flex;
        height: 100vh;
    }

    .principal {
        flex: 1;
        overflow: scroll;
    }

    .contenido {
        padding: 2rem;
        align-items: center;
        .nombre-pagina {
            font-size: 2.8rem;
            text-align: center;
        }
    }

    .formulario {
        input:not([type='submit']) {
            margin-top: 1rem;
        }
        input[type='submit'] {
            @include m.boton(v.$indigo, v.$blanco);
            border-radius: .5rem;
            @include m.tablet() {
                width: auto;
            }
        }
    }

    .enlace {
     color: v.$indigo;
     &:hover {
        color: darken(v.$indigo, 20%);
     }
    }
}