@use 'base/variables' as v;
@use 'base/mixins' as m;

.sidebar {
    opacity: 0;
    background-color: v.$indigo;
    transition-property: opacity;
    transition-duration: 500ms;
    height: 0;
    overflow: hidden;

    &.mostrar {
        height: 100%;
        opacity: 1;
        padding: 2rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        @include m.tablet {
            display: none;
        }
    }

    &.ocultar {
        opacity: 0;
    }
    
    @include m.tablet {
        height: 100%;
        opacity: 1;
        padding: 2rem;
        background-color: v.$indigo;
    }

    .contenedor-sidebar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        h2 {
            font-size: 4rem;
            color: v.$blanco;
            margin: 0;
            text-align: center;
        }
        .cerrar-menu {
            display: flex;
            justify-content: center;
            img {
                transform: scale(2);
                filter: brightness(0) invert(1);
                &:hover {
                    cursor: pointer;
                }
            }
            @include m.tablet {
                display: none;
            }
        }
    }
    .sidebar-nav {
        margin-top: 5rem;
        a {    
            color: v.$blanco;
            display: block;
            padding: .7rem;
            margin-bottom: 2rem;
            transition-property: background-color;
            transition-duration: 300ms;
            font-size: 2.4rem;
            text-align: center;

            &:hover,
            &.activo {
                background-color: darken(v.$indigo, 20%);
                border-radius: .5rem;
            }

            @include m.tablet {
                font-size: 1.6rem;
                margin-bottom: 1.5rem;
                text-align: left;
            }
        }
    }

    .cerrar-sesion-mobile {
        margin-top: 10rem;
        .cerrar-sesion {
            @include m.boton(v.$cyan, v.$blanco);
        }

        @include m.tablet {
            display: none;
        }
    }
}