@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-nueva-tarea {
    display: flex;
    justify-content: center;
    .nueva-tarea {
        @include m.boton(v.$cyan, v.$blanco);
        @include m.tablet {
            width: auto;
        }
    }
}